.MessageBoard{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    background-color: green;
}
.MessageBox{
    align-self: flex-start;
}
.MessageBoxLoggedIn{
    align-self: flex-end;
}